<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--注释,要设置成true,生成的注释很恶心-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="false"/>
        </commentGenerator>

        <!--数据库连接-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/tang?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8"
                        userId="root"
                        password="123456"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.jaden.app.pojo" targetProject="src/main/java">
            <!--是否对model添加构造函数-->
            <property name="constructorBased" value="false"/>
            <!--是否允许子包-->
            <property name="enableSubPackages" value="true"/>
            <!--建立的model对象是否不可变，也就是生成的model没有setter方法-->
            <property name="immutable" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources/">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--生成Mapper类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.jaden.app.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--生成与表对应的类名-->
        <!--<table tableName="user_info" domainObjectName="UserInfo"-->
               <!--enableInsert="true" enableSelectByExample="false"-->
               <!--enableDeleteByPrimaryKey="true" enableDeleteByExample="false"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"/>-->

        <!--<table tableName="goods_item" domainObjectName="GoodsItem"-->
               <!--enableInsert="true" enableSelectByExample="false"-->
               <!--enableDeleteByPrimaryKey="true" enableDeleteByExample="false"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"/>-->

        <!--<table tableName="goods_stock" domainObjectName="GoodsStock"-->
               <!--enableInsert="true" enableSelectByExample="false"-->
               <!--enableDeleteByPrimaryKey="true" enableDeleteByExample="false"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"/>-->

    </context>

</generatorConfiguration>